@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: rgb(244, 224, 247);
}

.sidebar {
    animation-name: example;
    overflow: hidden;
    z-index: 4;
    animation-duration: .1s;  
    animation-fill-mode: forwards;
}


@keyframes example {
    from {width: 0px;}
    to {width: 200px;}
  }

@layer components {
    .socialIocn {
        @apply w-10 h-7
    }
    .categorySpan {
        @apply flex items-center text-white
    }
    .newsCategory {
        @apply ml-2 text-base font-bold
    }

}